@import url(https://fonts.googleapis.com/css?family=Questrial);

@import '~antd/dist/antd.css';

body {
    background: #929aab !important;
    padding: 0px;
    margin: 0px;
}

.container {
  margin: 8px;
  height: 100%;
}

h3 {
  padding: 8px;
  padding-bottom: 0;
  font-size: 24px;
  overflow: auto;
  display:flex;
  align-items:center;
  justify-content: center;
}

h3 Input{
  flex-grow: 15;
}

.title{
  flex-grow: 15; 
}

.taskList {
  list-style: none;
  padding: 8px;
}

.addList{
  margin-bottom: 10px;
  border-radius: 4px;
  background-color:#a7d129;
  border: none;
  padding: 10px;
  width: 250px;
  height: 50px;
  transition: all 0.5s;
  color: white;
  font-size: 17px;
}

.addList:hover{
  background-color:#7c9c1b;
  cursor: pointer;
}

.taskList li {
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 10px;
  color: white;
  font-size: 15px;
}

.listsContainer { 
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  padding-top: 30px;
  height: 100vh;
}

.ant-card{
  background: #268fe4;
}

.columnList{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(219, 219, 219, 0.23);
}

.editTitle{
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

.titleConfirm{
  padding: 15px;
  vertical-align: -6px;
  cursor: pointer;
}

.columnDelete{
  float: right;
  cursor: pointer;
  color: rgb(20, 20, 20);
}

.taskContainer{
  display: flex;
  align-items:center;
  justify-content: center;
}

.taskDelete{
  flex-grow: 1;
  vertical-align: -6px;
  cursor: pointer;
  font-size: 18px;
}

.taskEdit{
  flex-grow: 1;
  padding-right: 5px;
  vertical-align: -6px;
  cursor: pointer;
  font-size: 18px;
}

.task{
  flex-grow: 15;
  overflow: auto;
}

.saveTask{
  flex-grow: 1;
  vertical-align: -6px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.ant-input {
  height: 20px;
}

.anticon-plus-circle svg{
  width: 2em;
  height: 2em;
  margin-top: 30px;
  cursor: pointer;
  color: #268fe4;
}

.ant-card-body {
  padding: 10px !important;
}